.section1 img {
    width: 100%;
    height: auto;
    display: block;
     padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-left: 60px
  
}
.section1{
    border-radius: 50px;
    width: 100%;
    height: 50%;
}